*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
.vscode
.generated_files
dist/
debug/
build/
queuelogs/
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
